body {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 12px;
  }